Zek/Service References/WSPayge/PaygeService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://pay.ge:1202/PaygeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PaygeRefundWcfService" />
  <xs:element name="GetOrderInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="merchant" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orderCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="signature" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PaygeRefundWcfService" minOccurs="0" name="GetOrderInformationResult" nillable="true" type="q1:OrderInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Refund">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="merchant" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orderCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="refundCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="amount" type="xs:int" />
        <xs:element minOccurs="0" name="signature" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefundResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PaygeRefundWcfService" minOccurs="0" name="RefundResult" nillable="true" type="q2:RefundStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRefundInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="merchant" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orderCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="signature" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRefundInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PaygeRefundWcfService" minOccurs="0" name="GetRefundInformationResult" nillable="true" type="q3:RefundInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="merchant" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orderCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="signature" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PaygeRefundWcfService" minOccurs="0" name="GetOrderDetailsResult" nillable="true" type="q4:OrderDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Completion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="merchant" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orderCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="commplitionCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="amount" type="xs:int" />
        <xs:element minOccurs="0" name="signature" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompletionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PaygeRefundWcfService" minOccurs="0" name="CompletionResult" nillable="true" type="q5:CompletionStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompletionInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="merchant" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CommplitioCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="signature" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompletionInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/PaygeRefundWcfService" minOccurs="0" name="GetCompletionInfoResult" nillable="true" type="q6:CompletionInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCreditInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="merchant" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CreditCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="signature" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCreditInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/PaygeRefundWcfService" minOccurs="0" name="GetCreditInformationResult" nillable="true" type="q7:CreditInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckPosPayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="merchantCodName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="amount" type="xs:int" />
        <xs:element minOccurs="0" name="terminalId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="transactionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="signature" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckPosPaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/PaygeRefundWcfService" minOccurs="0" name="CheckPosPaymentResult" nillable="true" type="q8:CheckRecurringPaymentResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecurringPosPayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="merchantCodName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="merchantTranCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="terminalID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parentTransactionCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="amount" type="xs:int" />
        <xs:element minOccurs="0" name="currency" type="xs:int" />
        <xs:element minOccurs="0" name="signature" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecurringPosPaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/PaygeRefundWcfService" minOccurs="0" name="RecurringPosPaymentResult" nillable="true" type="q9:RecurringPosPaymentResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecurringPayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="merchant" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orderCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PaymentCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="amount" type="xs:int" />
        <xs:element minOccurs="0" name="signature" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecurringPaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/PaygeRefundWcfService" minOccurs="0" name="RecurringPaymentResult" nillable="true" type="q10:RecurringPaymentStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecurringPaymentInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="merchant" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PaymentCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="signature" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecurringPaymentInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/PaygeRefundWcfService" minOccurs="0" name="GetRecurringPaymentInformationResult" nillable="true" type="q11:RecurringPaymentInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="merchant" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="personNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="signature" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/PaygeRefundWcfService" minOccurs="0" name="CheckClientResult" nillable="true" type="q12:CheckClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BalanceInQuiry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sourceMid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BalanceInQuiryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BalanceInQuiryResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>