Zek/Service References/WSPayge/PaygeService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PaygeRefundWcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PaygeRefundWcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="OrderInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="OperationStatus" type="xs:int" />
      <xs:element minOccurs="0" name="OrderInfoStatusCode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderInfo" nillable="true" type="tns:OrderInfo" />
  <xs:complexType name="RefundStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:int" />
      <xs:element minOccurs="0" name="RefundStatusCode" type="xs:int" />
      <xs:element minOccurs="0" name="TranCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RefundStatus" nillable="true" type="tns:RefundStatus" />
  <xs:complexType name="RefundInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="RefundInfoStatusCode" type="xs:int" />
      <xs:element minOccurs="0" name="RefundOperations" nillable="true" type="tns:ArrayOfRefundOperation" />
      <xs:element minOccurs="0" name="SumRefundedAmount" type="xs:int" />
      <xs:element minOccurs="0" name="TransactionAmount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RefundInfo" nillable="true" type="tns:RefundInfo" />
  <xs:complexType name="ArrayOfRefundOperation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RefundOperation" nillable="true" type="tns:RefundOperation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRefundOperation" nillable="true" type="tns:ArrayOfRefundOperation" />
  <xs:complexType name="RefundOperation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:int" />
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RefundCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
      <xs:element minOccurs="0" name="TranCode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RefundOperation" nillable="true" type="tns:RefundOperation" />
  <xs:complexType name="OrderDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="CardPan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientIp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MerchantCodeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MerchantTranCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OpsId" type="xs:int" />
      <xs:element minOccurs="0" name="PayMethodCodeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentStatus" type="xs:int" />
      <xs:element minOccurs="0" name="RegDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ResponseCode" type="xs:int" />
      <xs:element minOccurs="0" name="TestMode" type="xs:int" />
      <xs:element minOccurs="0" name="TranCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderDetails" nillable="true" type="tns:OrderDetails" />
  <xs:complexType name="CompletionStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:int" />
      <xs:element minOccurs="0" name="CompletionStatusCode" type="xs:int" />
      <xs:element minOccurs="0" name="TranCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompletionStatus" nillable="true" type="tns:CompletionStatus" />
  <xs:complexType name="CompletionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="CommplitionInfoStatusCode" type="xs:int" />
      <xs:element minOccurs="0" name="ComplitionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperationStatus" type="xs:int" />
      <xs:element minOccurs="0" name="TranCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompletionInfo" nillable="true" type="tns:CompletionInfo" />
  <xs:complexType name="CreditInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreditInfoStatusCode" type="xs:int" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreditInfo" nillable="true" type="tns:CreditInfo" />
  <xs:complexType name="CheckRecurringPaymentResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ResponseCode" type="xs:int" />
      <xs:element minOccurs="0" name="ResponseMsg" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CheckRecurringPaymentResponse" nillable="true" type="tns:CheckRecurringPaymentResponse" />
  <xs:complexType name="RecurringPosPaymentResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:int" />
      <xs:element minOccurs="0" name="NextTransactionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseCode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecurringPosPaymentResponse" nillable="true" type="tns:RecurringPosPaymentResponse" />
  <xs:complexType name="RecurringPaymentStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:int" />
      <xs:element minOccurs="0" name="RecurringPaymentStatusCode" type="xs:int" />
      <xs:element minOccurs="0" name="TranCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecurringPaymentStatus" nillable="true" type="tns:RecurringPaymentStatus" />
  <xs:complexType name="RecurringPaymentInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:int" />
      <xs:element minOccurs="0" name="OperationStatus" type="xs:int" />
      <xs:element minOccurs="0" name="StatusCode" type="xs:int" />
      <xs:element minOccurs="0" name="TranCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecurringPaymentInfo" nillable="true" type="tns:RecurringPaymentInfo" />
  <xs:complexType name="CheckClient">
    <xs:sequence>
      <xs:element minOccurs="0" name="Status" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CheckClient" nillable="true" type="tns:CheckClient" />
</xs:schema>